" """ Editing and Reloading the Config
" set clipboard+=unnamed
" set clipboard+=ideaput
set number
set relativenumber
set ignorecase
set smartcase
nnoremap \e :e ~/.ideavimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>
 """ The Escape button
" map <C-c> <Esc>
" """ The Leader Key
let mapleader=" "
" """ Distraction Free Mode
" nnoremap <c-z> :action ToggleDistractionFreeMode<CR>
" """ Terminal
" nnoremap <c-t> :action ActivateTerminalToolWindow<CR>
" nnoremap <leader>t :action Terminal.OpenInTerminal<CR>
" """ Navigation
" nnoremap <c-\> :action SplitVertically<CR>
" nnoremap <c--> :action SplitHorizontally<CR>
" nnoremap <c-=> :action Unsplit<CR>
" nnoremap <c-m> :action MoveEditorToOppositeTabGroup<CR>
" sethandler <c-j> a:vim
" sethandler <c-k> a:vim
" nnoremap <c-h> <c-w>h
" nnoremap <c-l> <c-w>l
" nnoremap <c-j> <c-w>j
" nnoremap <c-k> <c-w>k
" nnoremap <TAB> :action PreviousTab<CR>
" nnoremap <s-TAB> :action NextTab<CR>
" nnoremap <Leader>en :action EditSourceInNewWindow<CR>
" nnoremap <Leader>n :action NextWindow<CR>
" nnoremap <Leader>q :action CloseContent<CR>
" nnoremap <Leader>qa :action CloseAllEditors<CR>
" """ Editing source code
" set ideajoin
" set idearefactormode=keep
" vnoremap < <gv
" vnoremap > >gv
" nnoremap [[ :action MethodUp<CR>
" nnoremap ]] :action MethodDown<CR>
" nnoremap zc :action CollapseRegion<CR>
" nnoremap zo :action ExpandRegion<CR>
" nnoremap <leader>zc :action CollapseAllRegions<CR>
" nnoremap <leader>zo :action ExpandAllRegions<CR>
" nnoremap <leader>c :action CommentByLineComment<CR>
" nnoremap <leader>r :action Refactorings.QuickListPopupAction<CR>
" nnoremap <Leader>=  :action ReformatCode<CR>
" nnoremap <leader>o :action OptimizeImports<CR>
" nnoremap <c-r> :action RecentFiles<CR>
" nnoremap <leader>l :action RecentLocations<CR>
" nnoremap <leader>h  :action LocalHistory.ShowHistory<CR>
" nnoremap ge :action GotoNextError<CR>
" nnoremap gE :action GotoPreviousError<CR>
" nnoremap <leader>s :write<CR>
" """ Searching and Source Code Navigation
" set incsearch
" nnoremap <c-/> :action FindInPath<CR>
" nnoremap <c-a> :action GotoAction<CR>
nnoremap <c-p> :action GotoFile<CR>
nmap gr <Action>(FindUsages)
" nnoremap <leader>s :action GotoRelated<CR>
" nnoremap <leader>h :action CallHierarchy<CR>
" nnoremap <leader>b :action ShowNavBar<CR>
" nnoremap <c-s> :action FileStructurePopup<CR>
" nnoremap <c-o> :action GotoSymbol<CR>
" nnoremap gc :action GotoClass<CR>
nnoremap gi :action GotoImplementation<CR>
" nnoremap gd :action GotoDeclaration<CR>
" nnoremap gp :action GotToSuperMethod<CR>
" nnoremap gt :action GotoTest<CR>
" nnoremap gb :action Back<CR>
" nnoremap gf :action Forward<CR>
" """ Tool windows
" nnoremap <c-p> :action JumpToLastWindow<CR>
" nnoremap <c-x> :action HideAllWindows<CR>
" """ Running and Debugging
" nnoremap ,r :action ContextRun<CR>
" nnoremap ,c :action RunClass<CR>
" nnoremap ,f :action ChooseRunConfiguration<CR>
" nnoremap ,t :action ActivateRunToolWindow<CR>
" nnoremap ,u :action Rerun<CR>
" nnoremap ,f :action RerunFailedTests<CR>
" nnoremap ,b :action ToggleLineBreakpoint<CR>
" nnoremap ,d :action ContextDebug<CR>
" nnoremap ,n :action ActivateDebugToolWindow<CR>
Plug 'tpope/vim-surround'
Plug 'tpope/vim-commentary'
